In [1]:
from datetime import datetime as dt

In [2]:
date1=dt.now()

In [3]:
date1

datetime.datetime(2023, 10, 31, 17, 57, 45, 261927)

In [4]:
date1.day

31

In [5]:
date1.hour

17

In [2]:
from datetime import datetime

birthdate = datetime(2001, 2, 13)  


current_date = datetime.now()
age = current_date.year - birthdate.year - ((current_date.month, current_date.day) < (birthdate.month, birthdate.day))

print(f"Age in years: {age} years")

Age in years: 22 years

In [1]:
from datetime import datetime, timedelta

# Get the current date
current_date = datetime.now()

future_date = current_date + timedelta(days=5000)


#age_years = age_days // 365

print(future_date)
#print(f"Future date: {future_date.strftime('%Y-%m-%d')}")

2037-07-11 16:27:00.382030

In [2]:
l1=[]

In [3]:
l1

[]

In [4]:
type(l1)

list

In [6]:
l2=[4,'hi']

In [7]:
len(l2)

2

In [12]:
l=[1,2,3,4,5,6,7,8]
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
len(l)

8

In [14]:
l[0:7:3]

[1, 4, 7]

In [15]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
l[-1:-3:-2]

[8]

In [25]:
l[-1:-5:-2]

[8, 6]

In [26]:
l.append(9)

In [27]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
l.pop()

9

In [36]:
list1=[1,2,3,4]
list2=[5,6,7,8]

In [39]:

list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [46]:
'one' in list1

False

In [47]:
1 in list1

True

In [48]:
list1.reverse()

In [49]:
list1

[8, 7, 6, 5, 8, 7, 6, 5, 4, 3, 2, 1]

In [56]:
list1[-7:0:-1]

[7, 8, 5, 6, 7]

In [61]:
list1[-1:-8:-1]

[1, 2, 3, 4, 5, 6, 7]

In [62]:
list1[::-1]

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [64]:
list1.reverse()

In [65]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [66]:
l=['a',1]
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [67]:
l

['a', 1]

In [71]:
l1=[1,4,2,4,7,3]
l1.sort()
#l1.sort(reverse=True)
l1.reverse()
l1

[7, 4, 4, 3, 2, 1]

In [10]:

tup1=(0,20,30)
tup1

(0, 20, 30)

In [11]:
tup2=(10,'data',10.2)

In [12]:
t=(10,[1,2],[10,52])
t[1][1]

2

In [13]:
t

(10, [1, 2], [10, 52])

In [14]:
t1=(10,10,20,20,30)

In [15]:
t1.count(10)

2

In [16]:
t1.index(20)

2

In [17]:
sorted(tup1)

[0, 20, 30]

In [18]:
tup1

(0, 20, 30)

In [22]:
a={1,2,3,4,5}
b={4,4,5,6,7,8}

In [23]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
a.intersection(b)

{4, 5}

In [25]:
a.difference

In [27]:
a={10,20,30}
b={25,20,35}
b.difference(a)

{25, 35}

In [8]:
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("enter third number: "))
list=[a,b,c]
print(list)
if list[0]>=list[1] and list[0]>=list[2]:
    print(list[0],"is large")
elif list[1]>=list[0] and list[1]>=list[2]:
    print(list[1],"is large")
else:
    print(list[2],"is large")

enter first number: 5
enter second number: 8
enter third number: 4
[5, 8, 4]
8 is large

In [9]:
list1=[10,50,54]

In [ ]:
sum=list1[0]+list1[1]+list1[2]
sum
list1=[5,9,5,8,6]
list1

In [23]:
temp=list1[0]
list1[0]=list1[-1]
list1[-1]=temp
list1

[6, 9, 5, 8, 5]

In [29]:

mylist=['Hello to python']
mylist result_mylist = [word.split() for word in mylist] 
result_mylist

SyntaxError: invalid syntax (<ipython-input-29-d595cf3f7694>, line 3)

In [37]:
mylist=['Hello to python'] 
result_mylist = [word.split() for word in mylist] 
result_mylist

[['Hello', 'to', 'python']]

In [1]:
mylist = ['Hello to python']
new_list = mylist[0].split()  # Split the string by spaces
print(new_list)

In [2]:
t=(1,5,3)
sorted(t,reverse=True)

In [ ]:
n=input("enter name: ")
p=input("enter profession: ")
e=input("enter email: ")
set1={n,p,e}
n=input("enter name: ")
p=input("enter profession: ")
e=input("enter email: ")
set2={n,p,e}
list=[set1,set2]
list

In [14]:
i=1
while i<=6:
    print("",i)
    i=i+1

 1
 2
 3
 4
 5
 6

In [4]:
i=1
print("Start of while")
while i<=6:
    print(i)
    if i==3:
        break
    i=i+1
print("End of while")

Start of while
1
2
3
End of while

In [10]:
i=3
while i<6:
    print(i)
    i+=1
else:
    print("while condition is false")
print("hi")

3
4
5
while condition is false
hi

In [1]:
count=0
while (count<3):
    count=count+1
   
    print(count,"Data science")

In [13]:
i=0

while i<20:
    i=i+2
    print(i)
else:
    print(i)

2
4
6
8
10
12
14
16
18
20
20

In [17]:
i=1
while i<=20:
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is odd")
    i+=1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

In [18]:
list=[1,2,3,4,5,6,7,8,9]  # also called as iterables(object)
                           #object is used by next()

In [20]:
for ele in list:
    d=ele+2
    print(d)
print("done with all elements")

3
4
5
6
7
8
9
10
11
done with all elements

In [23]:
s='data science'
s1=[]
for i in s:
    print(i.upper())
    s1.extend(i.upper())
s1

D
A
T
A

S
C
I
E
N
C
E

['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [45]:
fruits={1:'apple',2:'banana',3:'mango',4:'cherry'}
for i in fruits:
    if fruits[i]=='banana':
        print(i,"found:",fruits[i])
    if fruits[i]!='banana':

        print(i,fruits[i])

1 apple
2 found: banana
3 mango
4 cherry

In [54]:
tup=(1,2.3,'apple',1)
for i in tup:
    print(i)

1
2.3
apple
1

In [53]:
set={1,2.3,'apple',2}
for i in set:
    print(i)

1
2.3
2
apple

In [65]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [66]:
for i in range(5):
    print(i)

0
1
2
3
4

In [67]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [70]:
l1=['maths','science','geo','eco','social']
l2=[78,85,98,25,54]

In [101]:
items_prices = {
    30:"milk",
    10:"biscuit",
    23:"sugar" 
}
total_cost=0
for i in items_prices:
    print(i)
    total_cost +=i
        
# Display total cost
print("Total cost: ", total_cost)

30
10
23
Total cost:  63

In [2]:
cart={1:{'name':"A","price":10},2:{'name':"B","price":50}}
total=0
for item in cart:
    for i in cart[item]:
        if i=='price':
            total=total+cart[item][i]
        if i=='name':
                print(cart[item]['name'],"  -  ", cart[item]['price'])
print("_______")
print("Total cost: ", total)

A   -   10
B   -   50
_______
Total cost:  60

In [6]:
def area_of_circle(r):
    area=3.14*r*r
    print(area)

In [7]:
area_of_circle(6)

113.03999999999999

In [8]:
area_of_circle(2)

12.56

In [9]:
def area_of_rectangle(l,b):
    area=l*b
    return area

In [10]:
area_of_rectangle(4,5)

20

In [13]:
a=area_of_rectangle(4,5)
print("Area of rectangle is",a)

Area of rectangle is 20

In [1]:
def squareofnum():
    a=int(input("enter a number: "))
    return a**2

In [2]:
b=squareofnum()
print("square of number is",b)

enter a number: 4
square of number is 16

In [19]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))
def sum(a,b):
   
    return a+b

print("Sum of",a,"and",b," is ",sum(a,b))

enter a number: 4
enter a number: 5
Sum of 4 and 5  is  9

In [27]:
def odd():
    for i in range(11,21,2):
        #if i%2!=0:
            print(i,"is odd")
            #print(sum(a,b))
odd()
print(sum(a,b))

11 is odd
13 is odd
15 is odd
17 is odd
19 is odd
9

In [3]:
from functools import reduce
lis=[1,5,8]
print(reduce(lambda a,b:a+b,lis))

14

In [15]:
def check(num):
    if num % 2 == 0:
        return "Number is Even"
    else:
        return "Number is Odd"

num = input("Enter numbers: ")
numbers = list(map(int, num.split()))
res = list(map(check, numbers))
res

Enter numbers: 5 4

['Number is Odd', 'Number is Even']

In [1]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

number = int(input("Enter a number: "))


if is_prime(number):
    print( " prime number")
else:
    print(" not a prime number.")

Enter a number: 45
 not a prime number.

In [4]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 7
7 is a prime number

In [12]:
def cal_product(numbers):
    prod = 1
    for n in numbers:
        prod *= n
    return prod

numbers = input("Enter numbers: ").split()
numbers = list(map(int, numbers))
res = cal_product(numbers)

print("Product =" ,res)

Enter numbers: 4
Product = 4

In [8]:
def add(a,b):
    sum=a+b
    return sum
add(5,8)
#print("addition =", result)

13