In [5]:
2+4

6

In [6]:
2*4

8

In [7]:
2**4

16

In [8]:
2/4

0.5

In [9]:
#single line comment

In [10]:
""" Multiple quote
continues
ends"""

' Multiple quote\ncontinues\nends'

In [11]:
2+3\
+4

9

In [18]:
fruit = ['mango', 'grape',   #List of fruits
'apple']

In [14]:
alphabet = ('a', 'b',       # Tuple of alphabet
'c', 'd')

In [15]:
 opposites = {               # Dictionary of opposites      
'tall': 'short',
'fat': 'slim',
    }

In [19]:
a=5;b=6;print(a+b)

11

In [21]:
import keyword

In [22]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [23]:
x=2   # x "points" to 2
y=x  # Now y also "points" to 2
y=3      # Now y "points" to 3

In [24]:
print(x)

2

In [25]:
print(y)

3

In [26]:
x='abc'

In [27]:
type(x)  # type() function is used to get type of an object

str

In [28]:
x=5
type(y)

int

In [29]:
myFloat = 78.11
id(myFloat)

1944991556088

In [30]:
 myInt = int(myFloat)    # int() is a casting function 
myInt                    # myInt will now point to value 78

78

In [31]:
id(myInt)

140711558576288

In [32]:
id(78)  # Note id(78) same as id(myInt)

140711558576288