In [11]:
import csv
c=0
with open("C:/Users/Khuteeja/Desktop/Average Temperature 1900-2023.csv",'r') as file_object:
   # print("Successfully opened csv")
    data=csv.reader(file_object)
    for line in data:
        c=c+1
        if c>6:
            break
        if c==1:
            continue
        print("In the year",line[0],"average temperature was",line[1],"°F")

In the year 1900 average temperature was 53.9 °F
In the year 1901 average temperature was 53.5 °F
In the year 1902 average temperature was 52.1 °F
In the year 1903 average temperature was 50.6 °F
In the year 1904 average temperature was 51.8 °F

In [24]:
import csv
c=0
with open("C:/Users/Khuteeja/Desktop/India_IN.csv",'r') as file_object:
   # print("Successfully opened csv")
    data=csv.reader(file_object)
    for line in data:
        c=c+1
        if c>6:
            break
        if c==1:
            continue
        print("On",line[0],line[1],"is holiday in India")

On 2023-01-01 New Year's Day is holiday in India
On 2023-01-14 Makar Sankranti is holiday in India
On 2023-01-14 Lohri is holiday in India
On 2023-01-15 Pongal is holiday in India
On 2023-01-22 Lunar New Year is holiday in India

In [4]:

import csv
c=0
with open("C:/Users/Khuteeja/Desktop/supermarket_sales - Sheet1.csv",'r') as file_object:
   # print("Successfully opened csv")
    data=csv.reader(file_object)
    for line in data:
        c=c+1
        if c>5:
            break
        if c==0:
            continue
        print(c)
        print('Invoice Id:',line[0]) 
        print("Date:",line[10])
        print("Unit price:",line[6])
        print("Quantity:",line[7])
        print("Total price:",line[9])
        print()

1
Invoice Id: Invoice ID
Date: Date
Unit price: Unit price
Quantity: Quantity
Total price: Total

2
Invoice Id: 750-67-8428
Date: 1/5/2019
Unit price: 74.69
Quantity: 7
Total price: 548.9715

3
Invoice Id: 226-31-3081
Date: 3/8/2019
Unit price: 15.28
Quantity: 5
Total price: 80.22

4
Invoice Id: 631-41-3108
Date: 3/3/2019
Unit price: 46.33
Quantity: 7
Total price: 340.5255

5
Invoice Id: 123-19-1176
Date: 1/27/2019
Unit price: 58.22
Quantity: 8
Total price: 489.048

In [3]:

import csv
c=0
with open("C:/Users/Khuteeja/Desktop/Salary_Dataset_with_Extra_Features.csv",'r') as file_object:
    data=csv.reader(file_object)
    print("___________HIRING ALERTS!!!!_______________\n")
    for line in data:
        c=c+1
        if c>5:
            break
        if c==0:
            continue
        print(c)
        print("Company Name:",line[1])
        print("Job title:",line[2])
        print("Salary:",line[3])
        print("Location:",line[5])
        print("Employment type:",line[6])
        print()

___________HIRING ALERTS!!!!_______________

1
Company Name: Company Name
Job title: Job Title
Salary: Salary
Location: Location
Employment type: Employment Status

2
Company Name: Sasken
Job title: Android Developer
Salary: 400000
Location: Bangalore
Employment type: Full Time

3
Company Name: Advanced Millennium Technologies
Job title: Android Developer
Salary: 400000
Location: Bangalore
Employment type: Full Time

4
Company Name: Unacademy
Job title: Android Developer
Salary: 1000000
Location: Bangalore
Employment type: Full Time

5
Company Name: SnapBizz Cloudtech
Job title: Android Developer
Salary: 300000
Location: Bangalore
Employment type: Full Time