In [1]:
from datetime import datetime as dt

In [2]:
date1=dt.now()

In [3]:
date1

datetime.datetime(2023, 10, 31, 17, 57, 45, 261927)

In [4]:
date1.day

31

In [5]:
date1.hour

17

In [2]:
from datetime import datetime

birthdate = datetime(2001, 2, 13)  


current_date = datetime.now()
age = current_date.year - birthdate.year - ((current_date.month, current_date.day) < (birthdate.month, birthdate.day))

print(f"Age in years: {age} years")

Age in years: 22 years

In [1]:
from datetime import datetime, timedelta

# Get the current date
current_date = datetime.now()

future_date = current_date + timedelta(days=5000)


#age_years = age_days // 365

print(future_date)
#print(f"Future date: {future_date.strftime('%Y-%m-%d')}")

2037-07-11 16:27:00.382030

In [2]:
l1=[]

In [3]:
l1

[]

In [4]:
type(l1)

list

In [6]:
l2=[4,'hi']

In [7]:
len(l2)

2

In [12]:
l=[1,2,3,4,5,6,7,8]
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
len(l)

8

In [14]:
l[0:7:3]

[1, 4, 7]

In [15]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
l[-1:-3:-2]

[8]

In [25]:
l[-1:-5:-2]

[8, 6]

In [26]:
l.append(9)

In [27]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
l.pop()

9

In [36]:
list1=[1,2,3,4]
list2=[5,6,7,8]

In [39]:

list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [46]:
'one' in list1

False

In [47]:
1 in list1

True

In [48]:
list1.reverse()

In [49]:
list1

[8, 7, 6, 5, 8, 7, 6, 5, 4, 3, 2, 1]

In [56]:
list1[-7:0:-1]

[7, 8, 5, 6, 7]

In [61]:
list1[-1:-8:-1]

[1, 2, 3, 4, 5, 6, 7]

In [62]:
list1[::-1]

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [64]:
list1.reverse()

In [65]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [66]:
l=['a',1]
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [67]:
l

['a', 1]

In [71]:
l1=[1,4,2,4,7,3]
l1.sort()
#l1.sort(reverse=True)
l1.reverse()
l1

[7, 4, 4, 3, 2, 1]

In [10]:

tup1=(0,20,30)
tup1

(0, 20, 30)

In [11]:
tup2=(10,'data',10.2)

In [12]:
t=(10,[1,2],[10,52])
t[1][1]

2

In [13]:
t

(10, [1, 2], [10, 52])

In [14]:
t1=(10,10,20,20,30)

In [15]:
t1.count(10)

2

In [16]:
t1.index(20)

2

In [17]:
sorted(tup1)

[0, 20, 30]

In [18]:
tup1

(0, 20, 30)

In [22]:
a={1,2,3,4,5}
b={4,4,5,6,7,8}

In [23]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
a.intersection(b)

{4, 5}

In [25]:
a.difference

In [27]:
a={10,20,30}
b={25,20,35}
b.difference(a)

{25, 35}

In [6]:
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("enter third number: "))
list=[a,b,c]
list
if a>=b and a>=c:
    print(a,"is large")
elif b>=a and b>=c:
    print(b,"is large")
else:
    print(c,"is large")

enter first number: 5
enter second number: 8
enter third number: 6
8 is large